*.lo
*.o
*.gmo
*.stamp
INSTALL
Makefile
Makefile.in
.deps
.libs
aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
ltmain.sh
libtool
mkinstalldirs
missing
stamp-h1
intltool-extract.in
intltool-merge.in
intltool-update.in
lib/*.c
lib/*.h
lib/libnotes.vapi
lib/libnotes.la
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/main-panel-plugin.c
src/main-popup.c
src/main-status-icon.c
src/xfce4-popup-notes
*.desktop
