*~
*.la
*.lo
*.o
*.gmo
*.stamp
ABOUT-NLS
INSTALL
Makefile
Makefile.in
.deps
.libs
aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
data/gtk-3.0/gtk.css
depcomp
install-sh
ltmain.sh
libtool
mkinstalldirs
missing
stamp-h1
lib/*.c
lib/*.h
lib/libnotes.vapi
m4/
po/Makefile.in.in
po/POTFILES
po/stamp-po
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/*.pot
src/main-panel-plugin.c
src/main-popup.c
src/main-status-icon.c
src/xfce4-popup-notes
src/xfce4-notes
src/xfce4-notes-settings
*.desktop
